 
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Bioinformatics</h3>
        <p>Dna to Rna to protein!</p>
    </div> 
    The following factors must be present for DNA replication and transcription:

    gene (DNA) to act as a template,
    supply of free RNA nucleotides,
   enzymes,
    ATP.

    The base sequence in a DNA molecule, represented by the letters A T C G, make up the genetic code.

    The bases hydrogen bond together in a complementary manner between strands. A will always go with T (U in RNA) and G will always go with C.
    The DNA code is a triplet code. Each triplet, a group of three bases, codes for a specific amino acid:

    the triplet of bases on the DNA and mRNA is known as a codon and 
    the triplet of bases on the tRNA is known as an anti-codon.

    Transcription takes place in the nucleus:

    the gene coding for the protein required untwists then unzips, the H-bonds between the strands break ,free RNA nucleotides form complementary base pairs with one strand of DNA bases ,weak hydrogen bonds form between base pairs, sugar phosphate bonds form between RNA nucleotide ,mRNA strand is synthesized and finally mRNA peels off the DNA and moves out of the nucleus into the cytoplasm.

    </div>
</div>
{% endblock %}