{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Software_Engineering</h3>
        <p>Being lazy and problem solving!</p>
    </div> Problem solving involves getting a big problem and splitting it into small chunks. e.g. if you were asked to code for the Fibonacci sequence there are many problems there you need to solve. These include:
What is the Fibonacci sequence?
How is it worked out?
What coding language should you use?
Who is code aimed at?
Where will it be used?



Being lazy involves how to complete a task/solve a problem successfully with no problems in the smallest amount of time and effort. KISS- Keep It Simple Stupid. DRY- Don’t Repeat Yourself. </div>
</div>
{% endblock %}
