 
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Su and Sudo commands!</h3>
     
    </div>Sudo is a program that allows users to run programs with the security privilages. 
    The command stands for "superuser do".
Su command stands for 'switch user' and allows you to become another user.

</div>
{% endblock %}
