 
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>What I expect from this course</h3>
   
   
    </div> By attending this course I want to learn more about Computer Science in particular the different coding languages such as PHP,Python,Java. I want to figure out if this is the right career path for me. I also want to become more confident by doing presentations and talking in front of people. It is also a good opportunity to make new friends and meet people all around the UK.   </div>
</div>
{% endblock %}
