{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Merins Blog</h1>
        <p>This is my blog on what i learnt.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Here are my blog posts!</h3>
            <ul>
                  <li><a href="post/Software_Engineering">Software Engineering</a></li>
            </ul>
                  <li><a href="post/Su_and_sudo_commands">Su and sudo commands</a></li>
            </ul>
                  <li><a href="post/What_I_expect_from_this_course">What I expect from this course</a></li>
            </ul>        
                  <li> <a href="post/Bioinformatics">Bioinformatics</a></li>    
    </div>
  </div>

</div>
{% endblock %}
